<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.Emoji.dao.UploadMapper" >
  <resultMap id="BaseResultMap" type="com.Emoji.entity.Upload" >
    <id column="upload_id" property="upload_id" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="filename" property="filename" jdbcType="VARCHAR" />
    <result column="emoji_title" property="emoji_title" jdbcType="VARCHAR" />
    <result column="emoji_description" property="emoji_description" jdbcType="VARCHAR" />
    <result column="emoji_label" property="emoji_label" jdbcType="VARCHAR" />
    <result column="savepath" property="savepath" jdbcType="VARCHAR" />
    <result column="upload_time" property="upload_time" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    upload_id, userid, username, filename, emoji_title, emoji_description, emoji_label, 
    savepath, upload_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from upload
    where upload_id = #{upload_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from upload
    where upload_id = #{upload_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.Emoji.entity.Upload" >
    insert into upload (upload_id, userid, username, 
      filename, emoji_title, emoji_description, 
      emoji_label, savepath, upload_time
      )
    values (#{upload_id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, 
      #{filename,jdbcType=VARCHAR}, #{emoji_title,jdbcType=VARCHAR}, #{emoji_description,jdbcType=VARCHAR}, 
      #{emoji_label,jdbcType=VARCHAR}, #{savepath,jdbcType=VARCHAR}, #{upload_time,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.Emoji.entity.Upload" >
    insert into upload
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="upload_id != null" >
        upload_id,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="filename != null" >
        filename,
      </if>
      <if test="emoji_title != null" >
        emoji_title,
      </if>
      <if test="emoji_description != null" >
        emoji_description,
      </if>
      <if test="emoji_label != null" >
        emoji_label,
      </if>
      <if test="savepath != null" >
        savepath,
      </if>
      <if test="upload_time != null" >
        upload_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="upload_id != null" >
        #{upload_id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="filename != null" >
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="emoji_title != null" >
        #{emoji_title,jdbcType=VARCHAR},
      </if>
      <if test="emoji_description != null" >
        #{emoji_description,jdbcType=VARCHAR},
      </if>
      <if test="emoji_label != null" >
        #{emoji_label,jdbcType=VARCHAR},
      </if>
      <if test="savepath != null" >
        #{savepath,jdbcType=VARCHAR},
      </if>
      <if test="upload_time != null" >
        #{upload_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.Emoji.entity.Upload" >
    update upload
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="filename != null" >
        filename = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="emoji_title != null" >
        emoji_title = #{emoji_title,jdbcType=VARCHAR},
      </if>
      <if test="emoji_description != null" >
        emoji_description = #{emoji_description,jdbcType=VARCHAR},
      </if>
      <if test="emoji_label != null" >
        emoji_label = #{emoji_label,jdbcType=VARCHAR},
      </if>
      <if test="savepath != null" >
        savepath = #{savepath,jdbcType=VARCHAR},
      </if>
      <if test="upload_time != null" >
        upload_time = #{upload_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where upload_id = #{upload_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.Emoji.entity.Upload" >
    update upload
    set userid = #{userid,jdbcType=INTEGER},
      username = #{username,jdbcType=VARCHAR},
      filename = #{filename,jdbcType=VARCHAR},
      emoji_title = #{emoji_title,jdbcType=VARCHAR},
      emoji_description = #{emoji_description,jdbcType=VARCHAR},
      emoji_label = #{emoji_label,jdbcType=VARCHAR},
      savepath = #{savepath,jdbcType=VARCHAR},
      upload_time = #{upload_time,jdbcType=TIMESTAMP}
    where upload_id = #{upload_id,jdbcType=INTEGER}
  </update>
</mapper>